#mjj-faq{
	margin-top: 2em;

	ul.entry-list{

		list-style-type: none;

		.faq-entry{
			padding: 1em;

			.faq-arrow{
				display: inline-block;
				width: 2em;
				text-align: center;
				font-weight: bolder;
			}

			.faq-question{
				display: inline-block;
			}

			.faq-answer{
				margin-left: 3.1em;
			}
		}

	}

}